#ignore all the modelsim.ini files present in /test/name_test/build directories
.ini
*.log

#ignore all the build-folder, since contains very large files for complex algorithm
test/keccak_ip/build/
test/keccak_ip_v2/build/
test/SHA3/build/
test/keccak/build/
test/kyber768/keygen/build/
test/kyber768/enc/build/
test/kyber768/dec/build/
